.perfectFit {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #A96E4C;
  color: #FFFFFF;
}

/* PF overlay Container */

.pf-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.pf-overlay__legend {
  position: absolute;
  top: 230px;
  left: 175px;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 3px;
}

.pf-overlay__btn-look {
  border: none;
  cursor: pointer;

  position: absolute;
  bottom: 112px;
  right: 185px;
  width: 208px;
  height: 50px;

  background: #FEE39E;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;

  display: flex;
  place-content: center center;

  transition: .2s ease-out;
}

.pf-overlay__btn-look:active {
  transform: translate3d(0,2px, 0);
}


.carousel {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slick-arrow {
  z-index: 10;
  position: fixed;
  width: 100px;
  height: 100%;
}

.slick-prev {
  left: 0;
  width: 260px;
  transform: translate3d(0,0,0);
  transition: 0.4s cubic-bezier(0.8, 0, 0.2, 1);
  opacity: 0.4;
}

.slick-prev:hover {
  transform: translate3d(54px,0,0);
  opacity: 1;
}

.slick-next {
  right: 185px;
  width: 50vw;
  left: auto;
  transition: 0.4s cubic-bezier(0.8, 0, 0.2, 1);
}

.slick-next > div {
  position: absolute;
  top: 28px;
  right: -50px;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  overflow: hidden;
}

.slick-next svg {
  position: absolute;
  top: 0;
  left: 0;
}

.slick-next circle {
  transition: 0.4s cubic-bezier(0.8, 0, 0.2, 1);
}

.slick-next:hover circle {
  stroke-width: 42px;
}

.carousel_control-top .slick-arrow {
  top: 375px;
  height: 100px;
}

.carousel_control-bot .slick-arrow {
  top: 495px;
  height: 200px;
}

.carousel_control {
  -webkit-appearance: none;
  position: absolute !important;
  z-index: 2;
  width: 100vw;
  height: auto;
  border: 0;
  background: transparent;
  cursor: pointer;
  font-size: 125px;
  line-height: 0.8;
  letter-spacing: 7.5px;
  text-align: right;
}

.carousel_control-top {
  top: 375px;
  height: 100px;
}

.carousel_control.slick-slider {
  right: 185px;
  width: calc(100vw - 185px - 260px);
}

.carousel_control .slick-list {
  overflow: visible;
}

.slick-slide img {
  width: 100vw;
}

.slick-slide *:focus {
  outline: none !important;
}

.carousel_control-bot {
  top: 495px;
  height: 200px;
}