body {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus', 'Roboto', serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Marcellus'; 
  src: url('./assets/marcellus.ttf'); 
}

@font-face {
  font-family: 'Roboto'; 
  src: url('./assets/roboto.ttf');
}